@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: montserrat;
    font-weight: 500;
    margin:0;
    padding:0;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.start-end-row{
    display: flex;
    flex-direction: row;
    gap: 215px;
}



.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    display: flex;
    flex-direction: row;    
    justify-content: space-evenly;
    box-shadow: 5px 5px 30px #1c1c2415;
}

.header-logo{
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: start;
    gap:30px;
    align-items: center;
    font-style:bold;
    font-weight: 900;
    padding: 5px;
}

nav{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    align-items: center;
    padding:0px 10px;
}
.main{
    min-height:500px;
    padding:0px;
    display:flex;
    flex-direction:row;
    gap: 100px;
    align-items: center;
    margin: 20px 0px;
}

#basket{
    display: flex;
    width: 20%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    background-color: #1c1c24;
}

#basket>h3>a{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

#logo{
    height:50px;
    width:50px;
}

/* form ================================== */
#eventCreator{
    margin:50px;
}

#eventForm{
    height: 500px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px#1c1c2448;
    background-color: #f2f2f2;
    padding: 20px;
    
}

#shopList{
    height: 500px;
    width: 500px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px#1c1c2448;
    background-color: #f2f2f2;
}

input[type=text],input[type=textarea], select {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0px 30px 0px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=datetime-local], select {
    width: 50%;
    padding: 12px 20px;
    margin: 0px 0px 15px 0px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #8f7949;
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #6e5a2e;
  }
  
  #event-list {
    list-style: none;
    padding: 0;
  }
  
  #event-list li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

/* ============================== */

/* Card ========================= */

.shop{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(9, 1fr);
    gap:10px;
    justify-content: center;
}
@media only screen and (max-width:1600px){
    .shop{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap:10px;
        justify-content: center;
    }
}
@media only screen and (max-width:768px){
    .shop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        justify-content: center;
    }
  
}

.item{
    width: 200px;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.521);
}

.item>img{
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
}

.price-quantity{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.bi{
    cursor: pointer;
}


/* ============================== */



footer{
    display: flex;
    margin-top:150px;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    border-top: 1px rgba(128, 128, 128, 0.308) solid;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    margin-top: 30px;
  }
.footer-logo{
    justify-content: start;
}
#logo2{
    align-self: center;
    height: 150px;
}

#accreditation{
    height:150px;
}